<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Hope you liked the website. Drop by on our socials to say Hi. <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-instagram"></a>
    </p>
    <p>Mail us on or e-mail in case u find any bug. <a href="#" class="fa fa-google"></a> or call our helpline <a
        href="#">+91 6461686456`</a> </p>
  </div>
</footer>